abstract_symbols
actions
artist
artstyle_technique
background_objects
bodily_fluids
camera_angle_perspective
camera_focus_subject
camera_framing_composition
character_count
character_name
clothes_and_accessories
color_scheme
content_censorship_methods
copyright
expressions_and_mental_state
female_intimate_anatomy
female_physical_descriptors
format_and_presentation
gaze_direction_and_eye_contact
general_clothing_exposure
generic_clothing_interactions
holding_large_items
holding_small_items
intentional_design_exposure
lighting_and_vfx
male_intimate_anatomy
male_physical_descriptors
meta
metadata_and_attribution
named_garment_exposure
nudity_and_absence_of_clothing
one_handed_character_items
physical_locations
poses
publicly_visible_anatomy
relationships
sex_acts
sfw_clothed_anatomy
special_backgrounds
specific_garment_interactions
speech_and_text
standard_physical_descriptors
thematic_settings
two_handed_character_items
