2k-tan
abe nana
Achilles
admiral graf spee (azur lane)
aegis (persona)
aerith gainsborough
afuro terumi
agrias oaks
ahri
aida mana
aino megumi
aino minako
aircraft carrier oni
aisaka taiga
aisha landar
akagi (azur lane)
akagi miria
akali
akashi (azur lane)
akatsuki kirika
akaza akari
akemi homura, magical girl
akemi homura, school uniform
aki (girls und panzer)
aki minoriko
aki shizuha
akita neru
akiyama mio
akiyama yukari
akizuki ritsuko
akizuki ryo
akuma homura
Aladdin
alastor (shakugan no shana)
Albus Dumbledore
alena (dq4)
Alice
alice cartelet
alice margatroid
alice margatroid (pc-98)
alisa (girls und panzer)
alisa ilinichina amiella
Alita
Alita (Gally)
alpaca suri (kemono friends)
alphonse elric
altera (fate)
Aragorn
Aramis
Ariel
Armin Arlert
Arya Stark
Ash Ketchum (サトシ)
Athos
Atticus Finch
Bagheera
Baloo
Batman
Belle
Beowulf
Bilbo Baggins
Bruce Wayne
Bulma
Captain America
Charlie Bucket
Christopher Robin
Chun-Li
Cinderella
Ciri
Clarice Starling
Cosette
D'Artagnan
Daenerys Targaryen, Dothraki
Daenerys Targaryen, fantasy gown
Daisy Buchanan
Darth Vader
Deadpool
Don Quixote
Donald Duck
Donkey (Shrek)
Doraemon (ドラえもん)
Dorothy Gale
Dr. John Watson
Dracula
Ebenezer Scrooge
Eeyore
Egon Spengler
Eleven (Stranger Things), hospital gown
Eleven (Stranger Things), pink dress
Elizabeth Swann, corseted dress
Elizabeth Swann, pirate
Ellen Ripley
Elsa
Emilia (Re:Zero)
Eren Yeager
Fantine
female embodiment of Slaanesh
Frankenstein's Monster
Frodo Baggins
Gandalf
Gandalf the White
Genos
Geralt of Rivia
Gimli
Goku (孫悟空)
Gollum
Hamlet
Han Solo
Hannibal Lecter
Harry Potter
Hercules
Hermione Granger
Hodor
Holden Caulfield
Holly Golightly
Howl
Hua Mulan (花木蘭)
Huckleberry Finn
Ichigo Kurosaki (黒崎一護)
Indiana Jones
Iron Man
Iron Man (Tony Stark)
Jack Sparrow
Jack Torrance
Jafar
James Bond
Jasmine
Jay Gatsby
Jean Valjean
Jesse Pinkman
John McClane
Jon Snow
Juliet
Kakashi Hatake
Katniss Everdeen
Ken (Street Fighter)
Kenshin Himura (緋村剣心)
Kiki
L (エル)
Lara Croft
Legolas
Leia Organa
Leia Organa (Princess Leia)
Levi Ackerman
Light Yagami (夜神月), school uniform
Light Yagami (夜神月), tailored suit
Link
Loki
Lord Voldemort
Luke Skywalker
Magneto
Maid Marian
Maleficent
Mario
Mickey Mouse
Mikasa Ackerman
Minnie Mouse
Miyamoto Musashi
Monkey D. Luffy (モンキー・D・ルフィ)
Moriarty
Morpheus
Morty Smith
Mowgli
Mr. Krabs
Mufasa
Mulan (花木蘭)
Nami (One Piece), bikini top
Nami (One Piece), blouse
Naruto Uzumaki (うずまきナルト)
Neo
Nezuko Kamado (禰豆子)
Norman Bates
Odysseus
Odysseus (Ulysses)
Oliver Twist
Orpheus
Patrick Star
Peeta Mellark
Persephone
Perseus
Peter Pan
Peter Venkman
Piglet
Pikachu (ピカチュウ)
Ponyo (崖の上のポニョ)
Porthos
Princess Fiona
Princess Zelda
Professor Charles Xavier
Professor Oak
Ray Stantz
Rem (Re:Zero)
Rhett Butler
Rick Sanchez
Robin Hood
Romeo
Ron Weasley
Roronoa Zoro
Rukia Kuchiki
Ryu (リュウ)
Sailor Moon (月野うさぎ)
Saitama (サイタマ)
Sakura Haruno
Samwise Gamgee
San (Princess Mononoke)
Sancho Panza
Sanji (One Piece)
Sansa Stark
Sasuke Uchiha
Sauron
Scar (The Lion King)
Scarlett O'Hara
Scorpion (Mortal Kombat)
Scrooge McDuck
Shere Khan
Sherlock Holmes
Shin-chan (クレヨンしんちゃん)
Shrek
Simba
Snow White
Solid Snake
Sonic the Hedgehog
Sophie Hatter
Spider-Man
Spider-Man (Peter Parker)
SpongeBob SquarePants (スポンジ・ボブ)
Sub-Zero (Mortal Kombat)
Sun Wukong (孫悟空)
Superman
Tanjiro Kamado (炭治郎)
Tevye
Thanos
The Doctor (Doctor Who), classic
The Doctor (Doctor Who), modern
The Hulk
The Joker
The Terminator
The Terminator (T-800)
Thor
Tom Sawyer
Tony Soprano, bathrobe
Tony Soprano, polo shirt
Tony Tony Chopper
Totoro (となりのトトロ)
Trinity
Tuxedo Mask
Tyrion Lannister
Ursula
Usagi Tsukino (月野うさぎ)
Usopp (One Piece)
V (V for Vendetta)
Vegeta
Walter White, Heisenberg
Walter White, teacher
Wednesday Addams
Wendy Darling
Will Turner, blacksmith
Will Turner, pirate
Willy Wonka
Winnie-the-Pooh
Wolverine
Wonder Woman
Yennefer
Yoda
Zorro
