african
arab
brazilian
caucasian
chinese
east asian
european
filipino
hispanic
indian
indonesian
japanese
korean
latina
mediterranean
mexican
middle eastern
mixed ethnicity
native american
nordic
pacific islander
persian
polynesian
russian
scandinavian
slavic
south asian
southeast asian
thai
turkish
vietnamese
west african
