absurdly long hair
afro
ahoge
antenna hair
asymmetrical bangs
asymmetrical hair
bald
bald girl
bangs
bangs pinned back
beehive hairdo
big hair
blunt bangs
bob cut
bowl cut
bow-shaped hair
braid
braided bangs
braided bun
braided ponytail
brown hair
buzz cut
chonmage
cloud hair
colored inner hair
comb over
cone hair bun
cornrows
crew cut
crossed bangs
crown braid
curly hair
curtained hair
diagonal bangs
double bun
doughnut hair bun
dreadlocks
drill hair
expressive hair
flattop
flipped hair
floating hair
folded ponytail
french braid
front braid
front ponytail
hair behind ear
hair between eyes
hair bikini
hair bun
hair ears
hair flaps
hair in mouth
hair intakes
hair one side up
hair over eyes
hair over one eye
hair over shoulder
hair pulled back
hair rings
hair scarf
hair spread out
hair strand
hair two side up
half updo
heart ahoge
heart hair bun
hime cut
huge afro
huge ahoge
lone nape hair
long braid
long curly hair
long, flowing hair
long, flowing hair shifts like tendrils of smoke
long hair
long messy hair
long straight hair
long wavy hair
low-braided long hair
low ponytail
low-tied long hair
low twin braids
low twintails
medium curly hair
medium hair
medium messy hair
medium straight hair
medium wavy hair
messy hair
mizura
mohawk
mullet
multiple braids
multi-tied hair
nihongami
okappa
one side up
parted bangs
pixie cut
pointy hair
pompadour
ponytail
quad braids
quad drills
quad tails
quiff
quin tails
ringlets
shiny hair
short curly hair
short hair
short messy hair
short ponytail
short straight hair
short twintails
short wavy hair
shouten pegasus mix mori
side braid
side braids
side bun
side drill
sidelocks
side swept bangs
single braid
single hair intake
single hair ring
single sidelock
spiked hair
split ponytail
streaked hair
swept bangs
tentacle hair
tied hair
topknot
tri braids
triple bun
tri tails
twin braids
twin drills
twintails
two side up
undercut
uneven twintails
very long bangs
very long hair
very short hair
wavy hair
wet hair
widow's peak
