auburn hair
black hair
black to blue gradient hair
black to purple gradient hair
black to red gradient hair
blonde hair
blonde to pink gradient hair
blue hair
brown hair
brown to blonde gradient hair
chestnut hair
copper hair
crystal hair
dark blonde hair
dark blue hair
dark brown hair
dark red hair
ginger hair
gray hair
green hair
light blonde hair
light blue hair
light brown hair
medium blonde hair
medium brown hair
multicolored blue and pink hair
multicolored pink and purple hair
multicolored red and black hair
natural blonde hair
pink hair
platinum blonde hair
purple hair
rainbow hair
red hair
silver hair
white hair
white to blue gradient hair
