+ +
:<>
:|
=^=
> @
>:(
>:)
@ @
^^^
(-3-)
:3
>3<
3:
aegyo sal
ahegao
anger vein
angry
annoyed
blush
blush stickers
bored
bruised eye
:c
celebrating
cheek bulge
cheek pinching
cheek poking
cheek pull
cheek-to-cheek
chin grab
clenched teeth
closed eyes
closed mouth
color drain
confused
covering eyes
covering face
covering mouth
crazy
crazy smile
cross-eyed
crying
crying with eyes open
:d
;d
depressed
despair
determined
disappointed
disdain
disgust
dot mouth
dot nose
doyagao
drooling
drunk
ear blush
embarrassed
endured face
envy
evil
evil smile
excited
expressionless
expressionless eyes
expressions
eyebrows behind hair
eyebrows visible through hair
eyeliner
eyes closed
eyes visible through hair
facepalm
facial hair
facing another
fang
fang out
fangs
fingersmile
flower in mouth
flustered
food on face
forced smile
forehead
forehead-to-forehead
frown
frustrated
full blush
fume
furrowed brow
glaring
glasgow smile
glint
gloom (expression)
grimace
grin
guilt
half-closed eye
half-closed eyes
happy
happy tears
heavy breathing
holding breath
horrified
jealous
jitome
kubrick stare
laughing
licking lips
light blush
light smile
lips
lipstick
lonely
long tongue
makeup
mischievous smile
moaning
mouth drool
mouth hold
naughty
nervous
nervous smile
no mouth
no nose
nosebleed
nose blush
\(^o^)/
one eye closed
o o
open mouth
:p
pain
panicking
parted lips
pensive
pout
puckered lips
:q
raised eyebrow
raised eyebrows
rape face
rectangular mouth
red lips
rolling eyes
sad
sad smile
saliva
saliva trail
scared
scowl
screaming
seductive smile
serious
shaded
shy
sideways mouth
sigh
skin fang
sleepy
smelling
smile
smiley
smirk
smug
sobbing
spit take
split mouth
stifled laugh
streaming tears
sulking
surprised
tearing up
tears
teeth
thinking
tired
tongue
tongue out
torogao
trembling
troll
tsundere
turn pale
upper teeth
upset
uwu
=v=
v-shaped eyebrows
wavy mouth
whistling
wide eyed
wide-eyed
wince
worried
wrinkles
yandere
