absent eyes
amber eyes
amphibian eyes
aqua eyes
black eyes
black sclera
blank eyes
bloodshot eyes
blue eyes
blue sclera
bright pupils
brown eyes
button eyes
cat eyes
cephalopod eyes
compound eyes
constricted pupils
crazy eyes
dashed eyes
diamond-shaped pupils
dilated pupils
empty eyes
extravagant eyelashes
eyeball
eye reflection
eyelashes
flaming eyes
flower-shaped pupils
glowing eye
glowing eyes
golden eyes
gradient eyes
green eyes
green sclera
grey eyes
heart in eye
heart-shaped eyes
heart-shaped pupils
heterochromatic eyes
hollow eyes
horizontal pupils
large pupils
large purple glowing eyes
mako eyes
mismatched pupils
mismatched sclera
missing eyes
multicolored eyes
no pupils
no sclera
orange eyes
orange sclera
pac-man eyes
pink eyes
purple eyes
red eyes
red sclera
ringed eyes
sanpaku
slit pupils
small pupils
solid circle eyes
sparkling eyes
star-shaped pupils
symbol-shaped pupils
tareme
third eye
tsurime
upturned eyes
white eyes
x-shaped pupils
yellow eyes
yellow sclera
