adjusting collar
amulet
anchor choker
animal collar
aqua neckwear
ascot
bead necklace
black neckwear
blue neckwear
bolo tie
bowtie
brown neckwear
chain necklace
checkered neckwear
choker
collar
collar grab
collar tug
cross tie
detached collar
dog collar
feather boa
flower necklace
friendship charm
fur collar
goggles around neck
green neckwear
grey neckwear
halterneck
headphones around neck
heart choker
high collar
jabot
lanyard
lei
locket
magatama
metal collar
neck bell
neckerchief
neck garter
neck ribbon
neck ring
neck ruff
necktie
necktie between breasts
necktie on head
necktie removed
open collar
orange neckwear
pearl necklace
pendant
pentacle
pet cone
pink neckwear
plaid neckwear
plunging neckline
popped collar
purple neckwear
red neckwear
ribbon choker
sailor collar
scarf
sleeveless turtleneck
spiked collar
stole
striped neckwear
turtleneck
v-neck
whistle around neck
white neckwear
wing collar
yellow neckwear
