14mm wide angle lens
24mm wide-angle lens
35mm lens
50mm lens
70mm telephoto lens
85mm portrait lens
aerial shot
aerial view
angle from above
angle from below
atmospheric perspective
between fingers
between legs
between thighs
Big Close-Up (BCU)
birds-eye view
blurry foreground
body shot
Chest Shot (MCU)
cinematic shot
close-up
close-up portrait
close-up shot
cowboy shot
crane shot
cut-in
depth of field
Detail Shot (ECU)
dolly zoom
drone shot
dutch angle
establishing shot
extreme close-up shot
extreme wide shot
eye-level shot
face close-up
Face Shot (VCU)
first-person view
fisheye lens
focus sharp
foreground obstruction
from above
from above front
from above front diagonal
from above shown from behind
from above shown from behind diagonal
from above side
from behind
from behind diagonal
from behind diagonal view
from behind, over the shoulder
from below
from below front
from below front diagonal
from below shown from behind
from below shown from behind diagonal
from below side
from outside
from side
from the front diagonal view
front view
full body shot
full shot
gopro view
ground level shot
half face close-up
hatching (texture)
high angle shot
hip level shot
knee level shot
long shot
low angle shot
macro lens
medium close-up shot
medium shot
medium wide shot
multiple views
over the shoulder shot
overhead angle
panorama
panoramic landscape
perspective
portrait
pov
professionally shot
profile
rack focus
reference sheet
reflection shot
rotated
selfie
shoulder-level shot
split screen
street level shot
studio shot
telephoto shot
three sided view
tilt shift
top-down view
tracking shot
two shot angle
ultra wide angle
upper body shot
upside-down
vanishing point
vignette
Waist Shot (WS)
whip pan
wide angle
wide angle portrait
wide shot
worm's-eye view
zoomed out
