analogous colors
anime coloring
aqua theme
black theme
blue theme
brown theme
cel shading
color connection
colored with greyscale background
colorful
colorized
complementary colors
cool colors
copper theme
desaturated
duotone
earth tones
ff gradient
gold theme
gradient
green theme
grey theme
greyscale
greyscale with colored background
high contrast
inverted colors
jewel tones
limited palette
metallic theme
monochrome
muted color
neon palette
orange theme
pale color
partially colored
pastel colors
pink theme
purple theme
rainbow
rainbow order
red theme
sepia
silver theme
split complementary
spot color
teal and orange
triadic colors
warm colors
white theme
yellow theme
