Aaton LTR cinema
ARRI Alexa 65 cinema
Bolex H16 cinema
Canon EF
Canon EOS 5D digital
Canon EOS 5D Mark IV
Canon R5
Canon RF
compact camera
Diana F+ analog
film camera
Fujifilm X-T3 digital
Fujifilm X-T4 digital
GoPro Hero digital
Hasselblad
Hasselblad 500CM analog
Hasselblad X1D II digital
Holga 120N analog
iPhone X
Kodak Brownie analog
Kodak FunSaver analog
Leica M3 analog
Leica M6 analog
Leica T digital
Lumix GH5 digital
Mamiya 7 II analog
Nikon D3300
Nikon D800
Nikon D850
Nikon Z6 II mirrorless
Nikon Z7 II mirrorless
Nikon Z9
Olympus OM-1 digital
Olympus XA2 analog
Pentax 645Z digital
Pentax K1000 analog
Phase One XF IQ4 150MP
Plaubel Makina W67 analog
Polaroid
Polaroid SX-70 analog
RED digital cinema camera
Rolleiflex analog
Samsung Galaxy
Sony A7
Sony A7 III digital
Sony A7R
Sony A7R III digital
Sony A7R IV digital
Sony A9 II
Sony A9 III
