Agfa APX 400
Agfa Vista
Agfacolor Pro 200
CineStill 50
CineStill 800T
Ektar 100
fine grain
Fomapan 400
Fuji Superia 400
Fujichrome Provia 100F
Fujicolor C200
Fujicolor Fujichrome Velvia 100
Fujicolor Pro
Fujicolor Pro 400H
Fujicolor Superia X-TRA 400
Fujifilm Neopan 100
Ilford FP4 125
Ilford HP5
Ilford HP5 Plus 400
Ilford HP5 Plus B&W
Ilford XP2 400
Kodak Ektachrome E100
Kodak Ektar 100
Kodak Gold 200
Kodak Portra 160
Kodak Portra 400
Kodak Portra 800
Kodak Tri-X 400
Kodak Tri-X 400 B&W
Kodak Ultra Max 400
Kodak Ultra Max 800
Kodak Vision3
Kodak Vision3 IMAX
Lomochrome color film
Lomography Color 100
muted low grain
prominent grain
Velvia 100
