3d
4koma
album cover
animated
anime screencap
artbook
back
calendar (medium)
card (medium)
comic
cover page
doujin cover
dvd cover
fake cover
fake screenshot
game cg
icon
illustration
kirigami
lineart
logo
magazine cover
manga cover
masterpiece
oekaki
official art
official wallpaper
original
outline
paper child
paper cutout
papercraft
parody
photo
pixel art
postcard
poster
scan
tileable
triptych (art)
vector trace
video
video game cover
wallpaper
