afterimage
border
bust chart
character chart
collage
column lineup
cropped
diagram
fading border
feet out of frame
framed
glitch
golden ratio
head out of frame
isometric
leading lines
letterboxed
lineup
mosaic art
move chart
negative space
omake
out of frame
outside border
partially underwater shot
photomosaic
pillarboxed
polar opposites
projected inset
reference sheet
relationship graph
rotational symmetry
rounded corners
rule of thirds
seating chart
social media composition
stats
symmetry
tachi-e
trim marks
viewfinder
zoom layer
